{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Líneas de Artículos</h1>
            <a href="{% url 'crear_linea' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Nueva Línea</a>
        </div>

        <!-- Content Row -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">Código de Línea</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Codigo de Proveedores</th>
                                <th scope="col">Responsable de Línea</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for linea in lineas %}
                            <tr>
                                <td>{{ linea.codigo_linea }}</td>
                                <td>{{ linea.linea_descripcion }}</td>
                                <td>{{ linea.grupo.codigo_grupo }}</td>
                                <td>{{ linea.responsable_linea }}</td>
                                <td>
                                    <a href="{% url 'editar_linea' linea.id %}" class="btn btn-sm "><i class="bi bi-pencil-square"></i></a>
                                    <a href="{% url 'eliminar_linea' linea.id %}" class="btn btn-sm "><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
