{% extends 'master.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Items de Notas de Venta</h1>
        <!-- Agregar enlace para agregar nuevo Item de Nota de Venta si es necesario -->
        <a href="{% url 'agregar_item_nota_venta' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Nuevo Item de Nota de Venta</a>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">Nro. Item</th>
                            <th scope="col">Artículo</th>
                            <th scope="col">Precio Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total sin Descuento</th>
                            <th scope="col">Ahorro</th>
                            <th scope="col">Descuento Unitario</th>
                            <th scope="col">Sub total</th>
                            <th scope="col">Descripcion Bonificación</th>
                            <th scope="col">Es Bonificacion</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item_nota_venta in items_nota_venta %}
                        <tr>
                            <td>{{ item_nota_venta.nro_item }}</td>
                            <td>{{ item_nota_venta.articulo.codigo_sku }}</td>
                            <td>{{ item_nota_venta.articulo.precio_unitario }}</td>
                            <td>{{ item_nota_venta.cantidad }}</td>
                            <td>{{ item_nota_venta.total_item_bruto }}</td>
                            <td>{{ item_nota_venta.factor_descuento }}</td>
                            <td>{{ item_nota_venta.descuento_unitario }}</td>
                            <td>{{ item_nota_venta.total_item }}</td>
                            <td>{{ item_nota_venta.descripcion|default:'- -' }}</td>
                            <td>
                                {% if item_nota_venta.es_bonificacion %}
                                    <span class="badge bg-success text-white">Sí</span>
                                {% else %}
                                    <span class="badge bg-danger text-white">No</span>
                                {% endif %}
                            </td>
                            

                            <td>
                                <a href="{% url 'agregar_item_nota_venta' item_nota_venta.id %}" class="btn btn-sm "><i class="bi bi-pencil-square"></i></a>
                                <a href="{% url 'eliminar_item_nota_venta' item_nota_venta.id %}" class="btn btn-sm "><i class="bi bi-trash"></i></a>
                                <!-- Agrega cualquier enlace adicional que necesites aquí -->
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
