{% extends 'master.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Unidades de Medida</h1>
        <a href="{% url 'agregar_unidad_medida' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Nueva Unidad de Medida</a>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for unidad in unidades %}
                        <tr>
                            <td>{{ unidad.unidad_nombre }}</td>
                            <td>
                                <a href="{% url 'editar_unidad_medida' unidad.pk %}" class="btn btn-sm "><i class="bi bi-pencil-square"></i></a>
                                <a href="{% url 'eliminar_unidad_medida' unidad.pk %}" class="btn btn-sm "><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
